version: "3"

services:
  api:
    build: api
    ports:
      - "6767:6767"
    depends_on:
      - db
    env_file:
      - ./api/.env
  db:
    build: db
    ports:
      - "6379:6379"
    volumes:
      - .data:/data
